/* * {
  display: none !important;
} */
.cart {
  position: relative;
}
.count {
  position: absolute;
  top: 20px;
  left: 20px;
}
.rounded-circle {
  height: 50px;
  width: 50px;
}
.wrapper {
  display: flex;
  justify-content: center;
}
.avatar {
  height: 150px;
  width: 150px;
}
