h2 List Book

form(action="/books/search", method="GET")
  input(type="text", name="q", value= value ? value : '')
  button Search
a(href="/books/create") Create
ul 
  each book in listBook
    li
      span= book.title
      span &nbsp &nbsp
      a(href=`/books/view/${book.id}/`) view      
      span &nbsp &nbsp
      a(href=`/books/${book.id}/delete`) delete
      span &nbsp &nbsp
      a(href=`/books/edit/${book.id}`) Edit