extends ./layout/layout.pug

block cdn-bootstrap

  h2 Create Book

  form(action="/bookStore/books/create", method="POST")
    div.form-group
      label Title
      br
      input(class="form-control" ,name="title", type="text")
      br
      label Description
      br
      input(class="form-control" ,name="description", type="text")
      br
      button(type="submit", class="btn btn-primary") Create