extends ../layout/layoutShop.pug

block shopBook

  h2= `Welcome to ${shop.name} shop`
  table.table.table-dark.mt-2
    thead
      tr
        th STT
        th Book
    tbody
        - let count = 0;  
        - listBooks = shop.listBook
        each book in listBooks
          tr
            td= count+=1
            td= Books.find(x => x.id === book.idBook).title