extends ../layout/layout.pug

block cdn-bootstrap

  h2 Create Book

    form(action="/users/create", method="POST")
      div.form-group
        label Name
        input(class="form-control", name="name", type="text")
        button.btn.btn-primary.mt-2 Create