extends ../layout/layout.pug

block cdn-bootstrap

  h1 Update User
  
    img(style="width:50px; height:50px", src=`${user.avatarUrl !== undefined ? user.avatarUrl : 'https://i.ya-webdesign.com/images/default-avatar-png-18.png'}`)

  form(action="", method="POST", enctype="multipart/form-data")
    .form-group
      label Name
      input(class="form-control", type="text", name="name", value= user ? user.name : '')
    .form-group
      label Email
      input(class="form-control", type="text", name="email", value= user? user.email: '')
    .form-group
      label Password
      input(class="form-control", type="password", name="password", value= user? user.password: '')
    .form-group
      labe(for="avatar") Avatar
      input#avatar.form-control-file(name="avatar", type="file")
    button.btn.btn-primary.mt-2 Save
  a(href="/")